<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>
        <a routerLink="">Backoffice</a>
      </h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <nav>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/category">Product Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product">Product</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



