<div class="row">
  <div class="col">
    <h2>Cateogry</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="alert alert-success" role="alert" *ngIf="showSuccess">
      Create success
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="showError">
      Create failed
    </div>
  </div>
</div>

<form [formGroup]="createCategoryForm" (ngSubmit)="create()" class=" needs-validation was-validation" novalidate>
  <div class="mb-3 row">
    <label for="txtName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" [ngClass]="{'is-invalid': name?.invalid && (name?.dirty || name?.touched)}" formControlName="name" id="txtName" value="" placeholder="Name">
      <div *ngIf="name?.errors?.['required']" class="invalid-feedback">
        Name is required.
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="txtDesc" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" formControlName="description" id="txtDesc" placeholder="Description">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="ddlParentCategory" class="col-sm-2 col-form-label">Parent Category</label>
    <div class="col-sm-3">
      <select class="form-select" formControlName="parentCategory" id="ddlParentCategory">
        <option value="root">Root</option>
        <option *ngFor="let parentCatDdlOpt of parentCatDdlOpts" [value]="parentCatDdlOpt.id">{{ parentCatDdlOpt.name }}</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-5">
      <button type="submit" class="btn btn-primary float-end">Save</button>
    </div>
  </div>
</form>
