<div class="row">
  <div class="col">
    <h2>Cateogry</h2>
  </div>
</div>

<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="row">
    <div class="col-1">
      <select formControlName="fieldName" class="form-select">
        <option *ngFor="let searchField of searchFields" value="{{searchField}}">{{searchField}}</option>
      </select>
    </div>
    <div class="col-2">
      <input type="text" formControlName="fieldValue" class="form-control" />
    </div>
    <div class="col-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <div class="card">
      <p-treeTable [value]="categoriesTreeNode" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}" [autoLayout]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>No of Product</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode">
            <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.id }}
            </td>
            <td>{{ rowData.name }}</td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
        </ng-template>
      </p-treeTable>
  </div>
</div>
